body {
  min-width: 320px;
  background-color: #fafafa;
  color: gray;
  font-size: 16px;
  line-height: 1.5;
  zoom: 110%;
}
input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  }

  .name-input:focus {
  outline: none;
  }

header{
  position: relative;
  z-index: 10;
  .heading{
    margin:0 0 30px;
  }
  .card{
    background-color:$white;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.3);
  }
  .card-body{
    padding:40px 70px;
    .d-flex{
      display: flex;
      align-items: flex-end;
      .card-text{
        color:rgb(197, 197, 197);
        border-bottom: 1px solid rgb(197, 197, 197);
        margin:0;
        padding:0 0 3px;
        flex-grow: 1;
        margin:0 10px 0 0;
      }
    }
  }
}

.info{
  .container{
    max-width:950px;
  }
  .content-wrapper{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    background-color: $white;
    padding:50px 80px;
  }
  .content-header{
    margin:0 0 1.5rem;
    h2{
      margin:0;
    }
    h3{
      color:$secondary;
      font-weight: 400;
      margin:0 0 1rem;
    }
    a{
      display:inline-block;
      margin:0 0 20px;
    }
  }
  .content-body{
    .title{
      margin:0;
    }
    .lang-wrapper{
      display:flex;
      flex-wrap: wrap;
      padding:20px 0;
      margin:0 -10px;
      .lang-holder{
        width:100%;
        max-width: 25%;
        padding:0 10px;
        margin:0 0 10px;
        .lang-content{
          width:100%;
          position: relative;
          padding:0 0 10px;
        }
      }
    }
    .list-item{
      padding:25px 0;
      border-bottom:1px solid $secondary;
      .list-header{
        display: flex;
        justify-content: space-between;
        margin:0 0 5px 0;
        .repo-name{
          color:$primary;
          font-weight: 400;
          margin:0;
        }
        .year{
          font-weight: 500;
        }
      }
      .list-title{
        margin:0 0 10px;
        color:$secondary;
      }
      .description-holder{
        .description-title{
          display:block;
          margin:0 0 10px;
        }
      }

    }
  }
}

.final-1{
	width: 100px;
  border: 1px solid gray;
  border-radius: 10px;
}
.final{
  background-color:gray;
  height: 5px
}

.main-bar{
  width: 100%;
}
.name-input{
  color: #4CAF50;
  border-bottom: 1px solid #c5c5c5;
  margin: 0;
  padding: 10px;
  margin: 0 10px 0 0;
  width: 100%;
}